__pycache__
venv
logs/
dist/
build/
docs/Concept Art/lina2.png
docs/Concept Art/lina.png
docs/Concept Art/lina.kra
docs/Concept Art/DanielHavingFunWithEyes.kra
docs/Concept Art/CassandraHavingFunWithBrushes.kra
